*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial
}

#game-board {
  
  display: grid;
  grid-template-rows: repeat(4, 20vmin);
  grid-template-columns: repeat(4, 20vmin);
  background-color: #CCC;
  gap: 2vmin;
  border-radius: 1vmin;
  padding: 2vmin;
  position: relative;
}

.cell {
  background-color: #AAA;
  border-radius: 1vmin;
}

body {
  background-color: #333;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
